<!-- cargar archivos estaticos -->
{% load staticfiles %}

<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href='{% static "css/styles.css" %}'>
	</head>
	<body>
		<br>
		<nav>
			<!-- detecta la url por el "name" definido en urls.py -->
			<a href="{%url "home" %}">Home</a>
			<a href="{%url "about" %}">About</a>
		</nav>

		<!-- bloques de contenido se que mostraran -->
		<br>
		{% block content %}
		{% endblock %}
	</body>
</html>